<div class="table-container">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Total de Pokemones: {{ totalPokemons }}</h2>
    </div>
    <div class="card-content">
      <div class="search-container">
        <input
          type="id"
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
          placeholder="Busqueda"
          class="search-input"
        />
      </div>
      <ng-container *ngIf="loading; else loadedContent">
        <div class="skeleton-container">
          <div *ngFor="let item of skeletonItems" class="skeleton"></div>
        </div>
      </ng-container>
      <ng-template #loadedContent>
        <div class="table-responsive">
          <table class="user-table">
            <thead>
              <tr>
                <th (click)="sort('id')" class="sortable-header">
                  ID
                  <span class="sort-icon" [ngClass]="getSortClass('id')">
                    {{
                      getSortClass("id") === "ascending"
                        ? "↑"
                        : getSortClass("id") === "descending"
                        ? "↓"
                        : "↕"
                    }}
                  </span>
                </th>
                <th (click)="sort('name')" class="sortable-header">
                  Nombre
                  <span class="sort-icon" [ngClass]="getSortClass('name')">
                    {{
                      getSortClass("name") === "ascending"
                        ? "↑"
                        : getSortClass("name") === "descending"
                        ? "↓"
                        : "↕"
                    }}
                  </span>
                </th>
                <th>Imagen</th>
                <th>
                  Acciones
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-dpad-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v3a.5.5 0 0 1-.5.5h-3A1.5 1.5 0 0 0 0 6.5v3A1.5 1.5 0 0 0 1.5 11h3a.5.5 0 0 1 .5.5v3A1.5 1.5 0 0 0 6.5 16h3a1.5 1.5 0 0 0 1.5-1.5v-3a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 0 16 9.5v-3A1.5 1.5 0 0 0 14.5 5h-3a.5.5 0 0 1-.5-.5v-3A1.5 1.5 0 0 0 9.5 0zm1.288 2.34a.25.25 0 0 1 .424 0l.799 1.278A.25.25 0 0 1 8.799 4H7.201a.25.25 0 0 1-.212-.382zm0 11.32-.799-1.277A.25.25 0 0 1 7.201 12H8.8a.25.25 0 0 1 .212.383l-.799 1.278a.25.25 0 0 1-.424 0Zm-4.17-4.65-1.279-.798a.25.25 0 0 1 0-.424l1.279-.799A.25.25 0 0 1 4 7.201V8.8a.25.25 0 0 1-.382.212Zm10.043-.798-1.278.799A.25.25 0 0 1 12 8.799V7.2a.25.25 0 0 1 .383-.212l1.278.799a.25.25 0 0 1 0 .424Z"
                    />
                  </svg>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let pokemon of displayedPokemons;
                  trackBy: trackByPokemonId
                "
                class="pokemon-row"
              >
                <td class="id-cell">
                  #{{ pokemon.id.toString().padStart(4, "0") }}
                </td>
                <td class="name-cell">{{ pokemon.name | titlecase }}</td>
                <td class="image-cell">
                  <div class="image-container">
                    <img
                      [src]="pokemon.sprites.front_default"
                      [alt]="pokemon.name"
                      class="avatar"
                    />
                  </div>
                </td>
                <td class="actions-cell">
                  <button
                    (click)="viewPokemonInfo(pokemon)"
                    class="btn btn-outline-success"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-info-circle"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                      />
                      <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                      />
                    </svg>
                  </button>
                  <button
                    (click)="editPokemon(pokemon)"
                    class="btn btn-outline-warning"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pen"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
                      />
                    </svg>
                  </button>
                  <button
                    (click)="deletePokemon(pokemon)"
                    class="btn btn-outline-danger"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                      />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination">
          <div class="pagination-buttons">
            <button
              class="btn btn-dark"
              (click)="goToFirstPage()"
              [disabled]="currentPage === 1"
            >
              Primera
            </button>
            
            <button
              (click)="previousPage()"
              [disabled]="currentPage === 1"
              class="btn btn-dark"
              [class.disabled]="currentPage === 1"
            >
              Anterior
            </button>
            <span class="page-number">Pag {{ currentPage }}</span>
            <button
              (click)="nextPage()"
              [disabled]="currentPage * pageSize >= totalPokemons"
              class="btn btn-dark"
              [class.disabled]="currentPage * pageSize >= totalPokemons"
            >
              Siguiente
            </button>
            <button
              class="btn btn-dark"
              (click)="goToLastPage()"
              [disabled]="endIndex >= totalPokemons"
            >
              Ultimo
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="showEditModal" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <h3>Edit Pokémon</h3>
        <button class="close-button" (click)="closeEditModal()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="pokemonName">Name:</label>
          <input
            id="pokemonName"
            type="text"
            [(ngModel)]="tempPokemonName"
            class="form-control"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn cancel-btn" (click)="closeEditModal()">
          Cancel
        </button>
        <button class="btn save-btn" (click)="saveEdit()">Save</button>
      </div>
    </div>
  </div>

  <!-- Modal de Info -->
  <div *ngIf="showInfoModal && selectedPokemon" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <h3>{{ selectedPokemon.name | titlecase }} Information</h3>
        <button class="close-button" (click)="closeInfoModal()">&times;</button>
      </div>
      <div class="modal-body pokemon-info">
        <div class="pokemon-image">
          <img
            [src]="selectedPokemon.sprites.front_default"
            [alt]="selectedPokemon.name"
            onerror="this.src='assets/placeholder.png'"
          />
        </div>
        <div class="pokemon-details">
          <p><strong>Type:</strong> {{ getTypes() }}</p>
          <p><strong>Abilities:</strong> {{ getAbilities() }}</p>
          <p><strong>Height:</strong> {{ selectedPokemon.height }}</p>
          <p><strong>Weight:</strong> {{ selectedPokemon.weight }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn cancel-btn" (click)="closeInfoModal()">Close</button>
      </div>
    </div>
  </div>

  <!-- Modal de Eliminación -->
  <div *ngIf="showDeleteModal" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <h3>Delete Pokémon</h3>
        <button class="close-button" (click)="closeDeleteModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ deletingPokemon?.name }}?</p>
      </div>
      <div class="modal-footer">
        <button class="btn cancel-btn" (click)="closeDeleteModal()">
          Cancel
        </button>
        <button class="btn delete-btn" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
